.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes image-float {
  0% {
    width: 30%;
    opacity: 1;
  }
  100% {
    width: 10%;
    opacity: 0;
  }
}

@keyframes image-float {
  0% {
    width: 30%;
    opacity: 1;
  }
  100% {
    width: 10%;
    opacity: 0;
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes contact {
  0% {
    background-color: #3d3d3d;
  }
  25% {
    background-color: #ced8e4;
  }
  50% {
    background-color: #1e81f3;
  }
  75% {
    background-color: #ff7842;
  }
  100% {
    background-color: #3d3d3d;
  }
}

@keyframes contact {
  0% {
    background-color: #3d3d3d;
  }
  25% {
    background-color: #ced8e4;
  }
  50% {
    background-color: #1e81f3;
  }
  75% {
    background-color: #ff7842;
  }
  100% {
    background-color: #3d3d3d;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Vollkorn", serif;
}

html {
  font-size: 62.5%;
}

.container {
  background-color: #eee;
  -webkit-box-shadow: 0 1rem 3rem #555;
          box-shadow: 0 1rem 3rem #555;
  margin: 3.5rem;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .container {
    margin: 0;
  }
}

.container .d-flex {
  position: relative;
}

.container .d-flex .toggle {
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 999;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container .d-flex .toggle {
    width: 3.5rem;
    height: 3.5rem;
    top: 4rem;
    left: 3rem;
  }
}

.container .d-flex .toggle .line {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #777;
  margin: 0.3rem 0;
}

@media (max-width: 767px) {
  .container .d-flex .toggle .line {
    width: 2.2rem;
  }
}

.container .d-flex .letters {
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .d-flex .letters span {
  margin: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #2b81e4;
}

@media (max-width: 767px) {
  .container .d-flex .letters span {
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.container .d-flex .letters span:nth-child(1) {
  -webkit-animation: up 5s 0.1s infinite;
          animation: up 5s 0.1s infinite;
}

.container .d-flex .letters span:nth-child(2) {
  -webkit-animation: up 5s 0.2s infinite;
          animation: up 5s 0.2s infinite;
}

.container .d-flex .letters span:nth-child(3) {
  -webkit-animation: up 5s 0.3s infinite;
          animation: up 5s 0.3s infinite;
}

.container .d-flex .letters span:nth-child(4) {
  -webkit-animation: up 5s 0.4s infinite;
          animation: up 5s 0.4s infinite;
}

.container .d-flex .letters span:nth-child(5) {
  -webkit-animation: up 5s 0.5s infinite;
          animation: up 5s 0.5s infinite;
}

.container .d-flex .letters span:nth-child(6) {
  -webkit-animation: up 5s 0.6s infinite;
          animation: up 5s 0.6s infinite;
}

.container .d-flex .letters span:nth-child(7) {
  -webkit-animation: up 5s 0.7s infinite;
          animation: up 5s 0.7s infinite;
}

.container header {
  background-image: url(../img/header-bg.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.container header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 113, 255, 0.5)), to(rgba(18, 113, 255, 0.3)));
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3));
}

.container header .cont {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container header .cont .text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem #555;
}

@media (max-width: 991px) {
  .container header .cont .text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.container header .cont .text h1 {
  font-size: 8rem;
  color: #fff;
}

@media (max-width: 767px) {
  .container header .cont .text h1 {
    font-size: 4rem;
  }
}

.container header .cont .text p {
  font-size: 3rem;
  max-width: 70rem;
  font-weight: 500;
  color: #eee;
  margin: auto;
}

@media (max-width: 767px) {
  .container header .cont .text p {
    font-size: 1.5rem;
  }
}

.container header .cont img {
  width: 30%;
  -webkit-animation: image-float 15s linear infinite;
          animation: image-float 15s linear infinite;
}

@media (max-width: 991px) {
  .container header .cont img {
    display: none;
  }
}

.container .nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url(../img/navbar-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.container .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 10s linear;
  transition: all 10s linear;
}

@media (max-width: 991px) {
  .container .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
}

.container .nav ul li {
  width: 100%;
  height: 100vh;
  text-align: center;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  top: -100vh;
}

.container .nav ul li .active {
  top: 0;
}

.container .nav ul li a {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.container .nav ul li:hover {
  opacity: 1;
}

.container .nav ul li:nth-child(1) {
  background-color: cornflowerblue;
}

.container .nav ul li:nth-child(1).active {
  top: 0;
}

.container .nav ul li:nth-child(2) {
  background-color: aquamarine;
}

.container .nav ul li:nth-child(2).active {
  top: 0vh;
}

.container .nav ul li:nth-child(3) {
  background-color: lightsalmon;
}

.container .nav ul li:nth-child(3).active {
  top: 0;
}

.container .nav ul li:nth-child(4) {
  background-color: lightcoral;
}

.container .nav ul li:nth-child(4).active {
  top: 0;
}

.container .nav ul li:nth-child(5) {
  background-color: paleturquoise;
}

.container .nav ul li:nth-child(5).active {
  top: 0;
}

.container .nav .close {
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  z-index: 999;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container .nav .close {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.container .nav .close .line {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #777;
}

@media (max-width: 767px) {
  .container .nav .close .line {
    width: 2.5rem;
  }
}

.container .nav .close div:first-child {
  -webkit-transform: translate(0px, 1px) rotate(-45deg);
          transform: translate(0px, 1px) rotate(-45deg);
}

.container .nav .close div:last-child {
  -webkit-transform: translate(0px, -2px) rotate(45deg);
          transform: translate(0px, -2px) rotate(45deg);
}

.container .pricing {
  padding: 8rem;
}

.container .pricing h1 {
  font-size: 8rem;
  color: #2b81e4;
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem #2b81e4;
}

@media (max-width: 767px) {
  .container .pricing h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .container .pricing h1 {
    font-size: 3rem;
  }
}

.container .pricing .row {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .container .pricing .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .pricing .row .box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 991px) {
  .container .pricing .row .box {
    margin: 2rem 0;
  }
}

.container .pricing .row .box .front {
  position: absolute;
  z-index: 1;
}

.container .pricing .row .box div:first-child {
  position: relative;
  bottom: -4px;
}

.container .pricing .row .box div:first-child img {
  width: 100%;
}

.container .pricing .row .box div:first-child h3 {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 767px) {
  .container .pricing .row .box div:first-child h3 {
    font-size: 1.5rem;
  }
}

.container .pricing .row .box ul {
  background-color: #fff;
  text-align: center;
}

.container .pricing .row .box ul li {
  padding: 2rem 0;
  border-bottom: 0.1rem solid #2b81e4;
  font-size: 1.6rem;
  color: #777;
}

.container .pricing .row .box ul li:last-child {
  border: none;
}

.container .pricing .row .box .btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 1.5rem;
  color: #777;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.container .pricing .row .box .back {
  background-color: #2b81e4;
  height: 94%;
  width: 100%;
  position: absolute;
  top: 2rem;
  color: #fff;
  opacity: 0.5;
  -webkit-box-shadow: 0 2rem 4rem #777;
          box-shadow: 0 2rem 4rem #777;
  border-radius: 0.3rem;
  -webkit-transform: translateZ(-5rem) translateX(3rem);
          transform: translateZ(-5rem) translateX(3rem);
}

.container .pricing .row .box .back .center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .pricing .row .box .back .center h2 {
  color: #fff;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.container .opinion {
  padding: 8rem 0;
  background-image: url(../img/bg-1.jpg);
  background-position: center;
  height: 100%;
  position: relative;
}

.container .opinion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 108, 108, 0.6);
}

.container .opinion .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .opinion .row .col {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(238, 238, 238, 0.85);
  width: 85%;
}

@media (max-width: 767px) {
  .container .opinion .row .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.container .opinion .row .col img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2rem;
}

@media (max-width: 767px) {
  .container .opinion .row .col img {
    margin: 0 0 2rem 0;
  }
}

.container .opinion .row .col .content h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #555;
}

@media (max-width: 767px) {
  .container .opinion .row .col .content h3 {
    font-size: 1.8rem;
  }
}

.container .opinion .row .col .content p {
  color: #777;
  font-size: 1.5rem;
}

.container .contact-us {
  padding: 15rem 0 20rem 0;
  background-image: url(../img/contact-us-bg.png);
  background-size: cover;
  background-position: center;
  -webkit-animation: contact 20s infinite;
          animation: contact 20s infinite;
  position: relative;
  height: 100%;
}

.container .contact-us h1 {
  text-align: center;
  font-size: 6rem;
  color: #fff;
}

@media (max-width: 767px) {
  .container .contact-us h1 {
    font-size: 3rem;
  }
}

.container .contact-us .box {
  background-color: #fff;
  width: 70rem;
  height: 50rem;
  margin: 6rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 1rem 3rem #555;
          box-shadow: 0 1rem 3rem #555;
  position: relative;
}

@media (max-width: 767px) {
  .container .contact-us .box {
    width: initial;
    height: initial;
  }
}

.container .contact-us .box div:first-child {
  background-color: #eee;
}

.container .contact-us .box .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.container .contact-us .box .group div {
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .contact-us .box div {
  border-radius: 0.4rem;
}

.container .contact-us .box div label {
  font-size: 1.2rem;
  color: #555;
  padding: 1rem 1rem 0;
}

.container .contact-us .box div input {
  border: 0.1px solid #eee;
  background-color: transparent;
  padding: 1rem;
}

.container .contact-us .box div input:focus {
  outline: 0.1rem solid #eee;
}

.container .contact-us .box div textarea {
  border: none;
  resize: none;
  background-color: transparent;
  padding: 1rem;
}

.container .contact-us .box div textarea:focus {
  outline: 0.1rem solid #eee;
}

.container .contact-us .box .group-2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .contact-us .box .group-2 div {
  width: 48%;
  background-color: #eee;
}

.container .contact-us .box .group-2 div:focus {
  outline: 0.1rem solid red;
}

.container .contact-us .box .group-2 div input {
  background-color: transparent;
  color: #777;
}

.container .contact-us .box .btn {
  background-color: #777;
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  border: none;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.container .contact-us .box .btn:hover {
  background-color: #555;
}

.container .contact-us .box .group-3 {
  background-color: #eee;
}
/*# sourceMappingURL=style.css.map */