// For Blimp
@keyframes image-float {
    0% {
        width: 30%;
        opacity: 1;
    }
    100% {
        width: 10%;
        opacity: 0;
    }
}

// For Letters
@keyframes up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-90%);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

// For contact us
@keyframes contact {
    0% {
        background-color: #3d3d3d;
    }
    25% {
        background-color: #ced8e4;
    }
    50% {
        background-color: #1e81f3;
    }
    75% {
        background-color: #ff7842;
    }
    100% {
        background-color: #3d3d3d;
    }
}
